In [9]:
import pandas as pd
df = pd.read_csv('../../data/raw/parenting_styles.csv')

In [10]:
df.isnull().sum()

parent_id               0
parenting_style         0
child_mental_health     0
communication_skills    0
emotional_wellbeing     0
social_skills           0
academic_performance    0
parent_involvement      0
dtype: int64

In [11]:
df['communication_skills'] = df['communication_skills'].fillna(df['communication_skills'].mean())
df['emotional_wellbeing'] = df['emotional_wellbeing'].fillna(df['emotional_wellbeing'].mean())
df['social_skills'] = df['social_skills'].fillna(df['social_skills'].mean())
df['academic_performance'] = df['academic_performance'].fillna(df['academic_performance'].mean())
df['parent_involvement'] = df['parent_involvement'].fillna(df['parent_involvement'].mean())
df['parenting_style'] = df['parenting_style'].fillna(df['parenting_style'].mode()[0])

In [12]:
df.duplicated().sum()

0

In [13]:
df = df.drop_duplicates()

In [14]:
df = df.drop(columns=['irrelevant_column1', 'irrelevant_column2'], errors='ignore')

In [15]:
df['parent_id'] = df['parent_id'].astype('int')

In [16]:
df.describe()

,parent_id,child_mental_health,communication_skills,emotional_wellbeing,social_skills,academic_performance,parent_involvement
count,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000
mean,25000.500000,59.519260,69.47914,69.541060,69.570740,69.460920,69.441480
std,14433.901067,17.267938,11.55096,11.553447,11.574316,11.558743,11.557668
min,1.000000,30.000000,50.00000,50.000000,50.000000,50.000000,50.000000
25%,12500.750000,45.000000,60.00000,60.000000,60.000000,59.000000,59.000000
50%,25000.500000,59.000000,69.00000,69.000000,70.000000,69.000000,69.000000
75%,37500.250000,74.000000,80.00000,80.000000,80.000000,79.000000,79.000000
max,50000.000000,89.000000,89.00000,89.000000,89.000000,89.000000,89.000000

In [17]:
df.to_csv('../../data/processed/cleaned_parenting_styles.csv', index=False)